<div class="wallet card mb-3" data-id="{{wallet.pk}}">
    <div class="card-body">
    {% with owner=wallet.user.get_related_entity %}
            {%if owner.0 == 'entity' %}
                <i class="material-icons">store</i>
                <h5 class="mb-0">{{owner.1}}</h5>
            {%endif%}
            {%if owner.0 == 'person' %}
                 <i class="material-icons">directions_walk</i>
                <h5 class="mb-0">{{owner.1}}</h5>
            {%endif%}
    {% endwith %}

        {% if wallet.type.id == 'debit' %}
                <i class="material-icons">account_balance</i>
                <h5 class="mb-0">Débito</h5>
        {% endif %}
        <h3 class="wallet-balance">
            {{wallet.credit_balance}}B
        </h3>
        <strong>Real:</strong><span class="wallet-balance {%if wallet.credit_balance%} negative {%endif%}"> {{wallet.balance}}B </span>
        </div>

</div>