
<div class="table-responsive card mb-4">
<table class="table table-hover" {% if ajax_url %} data-ajax-url="{{ajax_url}}" {% endif %}>
  <thead>
    <tr>
        {% if not activity %}
      <th scope="col">Actividad</th>

        {%endif %}
        {% if not person %}
         <th scope="col">Persona</th>

        {%endif %}
      <th scope="col">Día</th>
        <th scope="col">Hora</th>
        <th scope="col">Duración</th>
    </tr>
  </thead>
  <tbody>
{% for act in activities %}
    <tr>
        {% if not activity %}
      <td class="">
          <h5>{{act.activity.name}}</h5>

        </td>
        {%endif %}
        {% if not person %}
        <td>{{act.person}}</td>
        {%endif %}
        <td>
            {{act.day}}
        </td>
        <th >{{act.daytime}}</th>
        <td>{{act.time_spent}}</td>

    </tr>
{% empty %}
    <tr>
      <td colspan="4">No hay ninguna actividad con los criterios de búsqueda actuales...</td>
    </tr>

{% endfor %}
      </tbody>
</table>
</div>
{% include 'common/pagination.html' with page=activities %}